head
  meta(charset="UTF-8")
  link(href="/styles/main.css" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab|Lato' rel='stylesheet' type='text/css')
  title Lane Heros