extends ./layout

block content
  input(type="hidden", id="accessCode" value="#{accessCode}")
  input(type="hidden", id="playerName" value="#{playerName}")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="/js/pixi_v3.0.8/pixi.min.js")
  script(src="https://cdn.socket.io/socket.io-1.3.7.js")
  script(src="/js/game/socket.js")
  script(src="/js/game/gamestate.js")
  script(src="/js/game/player.js")
  script(src="/js/game/hero.js")
  script(src="/js/game/keyboard.js")
  script(src="/js/game/main.js")
