extends ./layout

block content
  .container
    .row
      img(src="./assets/splash4-01.png") 
    .logo 
      h1 Lane Heroes
      h2 Host a Private Game
    .wrapper
      form(method="post", action="/games")
        input(type="text", name="playerName", placeholder="Enter a name", required)
        input(type="submit", value="Host", class="button radius tiny")
      
      a.button(href="/", class="back") Back
