extends ./layout

block content
  .container
    .row
      img(src="./assets/splash4-01.png")
    .logo 
      h1 Lane Heroes
      h2 How to become a Lane Hero.

    .content_container
      h3 To Succeed
      ol
        li
          p Maintain five lanes against your opponent by mashing the corresponding keys.
        li
          p Each lane is divided into four regions. Each region has a zone specific to your hero.
        li
          p Push your opponent back and fight to stay in your zone. The longer your heroes stay within their zones, the more points you gain.
      hr
      h3 Pro Tips
      ol
        li
          p The lane closes when your hero crosses into your opponent's territory. Closed lanes can no longer add points to either players' score. Closed lanes may provide strategic advantages and disadvantages. 
        li
          p Keeping your heroes within the Zones closest to opponent's territory will gain you more points over time.
    
    .buttons      
      a.button(href="/", class="back") Back
          