extends ./layout

block content
  .row
    nav
      ul
        li
          a.button(href="/host") Host Game
        li
          a(href="/join", class='button radius tiny') Join Game
  .row
    .content-block
