extends ./layout

block content
  .row
    a(id="signup-button", href="/host", class='button radius tiny') Host Game
    br
    a(id="login-button", href="/join", class='button radius tiny') Join Game
  .row
    .content-block

