extends ./layout

block content
  .container
    .row
      img(src="./assets/splash2-01.png")

    .logo
      h1 Lane Heroes
      h2 Test your skills. Become a Lane Hero.

    .row
      .buttons
        a.button(href="/host") Host Game
        a.button(href="/join") Join Game
        a.button(href="/howto") How To
        iframe(src="http://nodeknockout.com/iframe/mj2b" frameborder=0 scrolling=no allowtransparency=true width=115 height=25)
