extends ./layout

block content
  .container
    .row
      img(src="./assets/splash3-01.png") 
    .logo 
      h1 Lane Heroes
      h2 Join a Friend's Game

    .wrapper
      form(method="post", action="/join")
        input(type="text", name="accessCode", placeholder="Enter an access code", required)
        input(type="text", name="playerName", placeholder="Enter your name", required)
        input(type="submit", value="Join", class="button radius tiny")

      a.button(href="/", class="back") Back
